body {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 2rem;
    font-family: "et-book", Georgia, serif;
    line-height: 1.6;
    background-color: #fffff8;
    color: #111;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: normal;
}

h2 {
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
}

h3 {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #111;
}

a:hover {
    border-bottom: none;
}

p {
    margin-bottom: 1.5rem;
}